body{
  background-color: black;
  color: #00FB20;
  font-family: monospace;
}

button{
  background-color: black;
  color: #00FB20;
  border: 1px solid #00FB20;
  padding: 8px 32px;
  font-size: 1.1em;
  font-family: monospace;
}
.upgrades{
  background-color: black;
  color: #00FB20;
  border: 1px solid #00FB20;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}
.upgrade{
 background-color: black;
  color: #00FB20;
  border: 1px solid #00FB20;
}
